@use "sass:color";
@use 'variables' as *;

section.home {
  background-image: 
    linear-gradient(to right, transparent 10%, rgba(0, 0, 0, 0.28) 80%),
    linear-gradient(to right, transparent 10%, rgba(0, 0, 0, 0.15) 80%),
    url("/dist/images/wallpaper-batman-balck2_edited.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 88vh;
  position: relative;
  color: $font-color;

  @media (max-width: 768px) {
    height: 66vh;
  }

  .img {
    position: absolute;
    right: 0;
    bottom: 4px;
    max-width: 800px;
    max-height: 790px;
    filter: drop-shadow(0 0 10px $princi-color);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $background-dark;
      color: $font-color;
      border-radius: 50%;
      width: 70px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-shadow: 0 0 30px $shadow-red;
      transition: transform 0.3s ease, background-color 0.3s ease;
      border: 1px solid $princi-color;

      &:hover {
        transform: translate(-50%, -50%) scale(1.1);
        background-color: $background-secondary;
      }

      i {
        font-size: 1.8rem;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }

    @media (max-width: 1260px) {
      max-width: 600px;
      max-height: 600px;
    }

    @media (max-width: 1044px) {
      max-width: 500px;
      max-height: 600px;
    }

     @media (max-width: 1280px) {
      width: 650px;
      height: 650px;
     }
      @media (max-width: 1024px){
        width: 450px;
        height: 450px;
      }

  }

  .text {
    flex: 1;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4rem;
    max-width: 400px;

    h2 {
      font-size: 3.25rem;
      font-weight: 700;
      margin-bottom: 0.6rem;
      color: $font-color;

      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }

    .rating {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 4rem;

      .stars {
        color: $star-color;
      }

      span {
        color: $font-color;
        font-size: 1.125rem;
      }
    }

    p {
      font-size: 1.125rem;
      color: $neutral-gray;
      max-width: 500px;
      margin-bottom: 2rem;

      @media (max-width: 768px) {
        font-size: 0.9rem;
      }
    }

    .date {
      display: inline-block;
      color: $neutral-light;
      font-weight: bolder;
      font-size: 0.875rem;
      margin-bottom: 1rem;
      padding-bottom: 2px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }

    @media (max-width: 768px) {
      margin-left: 1.5rem;
      height: auto;
      width: auto;
    }

    .buttons {
      display: flex;
      gap: 1rem;

      button {
        border: none;
        padding: 0.5rem 1.5rem;
        background-color: #ffffff;
        color: #000;
        cursor: pointer;
        border-radius: 0.75rem;
        font-weight: 600;
        font-size: 1rem;
        transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
        transform: skew(-15deg);
        display: inline-block;

        &:hover {
          background-color: #f0f0f0;
          border-color: #555;
        }

        > span {
          display: inline-block;
          transform: skew(15deg);
        }

        &.primary {
          background-color: $princi-color;
          color: $neutral-light;
          font-weight: 200;
          border-color: $princi-color;
          width: 200px;
          box-shadow: 0 0 8px 3px $princi-color;

          &:hover {
            background-color: color.adjust($princi-color, $lightness: -10%);
            border-color: color.adjust($princi-color, $lightness: -15%);
            transform: scale(1.05);
          }
        }

        &.secondary {
          background-color: $button-secondary-bg;
          color: $button-text-color;
          padding: 0.5rem 1rem;
          font-size: 1.25rem;
          border-color: $neutral-dark;

          &:hover {
            background-color: $button-secondary-hover;
            border-color: color.adjust($neutral-dark, $lightness: -10%);
          }
        }
      }
    }
  }
}
