$font-color: #ffffff;
$princi-color: #fc142c;

section.home {
  background-image: 
    linear-gradient(to right, transparent 10%, rgba(0, 0, 0, 0.28) 80%),
    linear-gradient(to right, transparent 10%, rgba(0, 0, 0, 0.15) 80%),
    url("/dist/images/wallpaper-batman-balck2_edited.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 88vh;
  position: relative;
  color: $font-color;

  .img {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 800px;
    max-height: 800px;
    filter: drop-shadow(0 0 30px #ff051a);


    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .text {
    flex: 1;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5.2rem;
    max-width: 400px;

    h2 {
      font-size: 3.25rem;
      font-weight: 700;
      margin-bottom: 0.6rem;
      color: $font-color;
    }

    .rating {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 4rem;

      .stars {
        color: #facc15;
      }

      span {
        color: $font-color;
        font-size: 1.125rem;
      }
    }

    p {
      font-size: 1.125rem;
      color: #9ca3af;
      max-width: 500px;
      margin-bottom: 2rem;
    }

    .date {
      display: inline-block;
      color: #f2f4f7;
      font-weight: bolder;
      font-size: 0.875rem;
      margin-bottom: 1rem;
      padding-bottom: 2px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }

    .buttons {
      display: flex;
      gap: 1rem;

      button {
        border: none;
        padding: 0.5rem 1.5rem;
        background-color: #ffffff;
        color: #000;
        cursor: pointer;
        border-radius: 0.75rem;
        font-weight: 600;
        font-size: 1rem;
        transition: background-color 0.3s, border-color 0.3s;
        transform: skew(-15deg);
        display: inline-block;

        &:hover {
          background-color: #f0f0f0;
          border-color: #555;
        }

        > span {
          display: inline-block;
          transform: skew(15deg);
        }

        &.primary {
          background-color: $princi-color;
          color: #f1f1f1;
          font-weight: 200;
          border-color: #ff0000;
          width: 200px;
          box-shadow: 0 0 8px 3px rgb(255, 0, 0);
          transition: background-color 0.3s, border-color 0.3s, transform 0.3s ease;

          &:hover {
            background-color: #b91c1c;
            border-color: #d13434;
            transform: scale(1.05);
          }
        }

        &.secondary {
          background-color: #374151;
          color: #b6b6b6;
          padding: 0.5rem 1rem;
          font-size: 1.25rem;
          border-color: #1f2937;

          &:hover {
            background-color: #1f2937;
            border-color: #111827;
          }
        }
      }
    }
  }
}
