body.light-theme {
  --background: #f2f4f7;   /* cor clara */
  --text-color: #000000;   /* texto escuro */
  --primary-color: #fc142c; /* vermelho primário */

  background-color: var(--background);
  color: var(--text-color);
}