
body.dark-theme {
  --background: #000000;   /* fundo preto */
  --text-color: #ffffff;   /* texto branco */
  --primary-color: #fc142c; /* vermelho primário */

  background-color: var(--background);
  color: var(--text-color);
}