@use "sass:color";
$princi-color: #fc142c;
$background-dark: #000000;
$background-secondary: #080808;
$background-color: #1b1c1c;
$font-color: #ffffff;
$text-color: #ffffff;
$text-muted: #b3b3b3;
$neutral-gray: #9ca3af;
$neutral-light: #f2f4f7;
$neutral-dark: #1f2937;
$button-secondary-bg: #374151;
$button-secondary-hover: #1f2937;
$button-text-color: #b6b6b6;
$shadow-red: rgba(255, 0, 0, 0.7);
$shadow-soft: rgba(0, 0, 0, 0.5);
$icon-color: #ffffff;
$icon-hover-color: #a00411;
$star-color: #facc15;
$border-color: #2d2d2d;
$pink: #a00411;
$sidebar-width: 3.5rem;
$notification-bg: #ff7b00;
$notification-border: #ffffff;
$transition-fast: 0.2s ease-in-out;
$transition-smooth: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
