@use './components/variables' as *;
@use './components/header';
@use './components/plans';
@use './components/footer';
@use './components/faq';
@use './components/films';
@use './components/home';
@use './components/sidebar';
@use './components/theme-dark';
@use './components/theme-light';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s linear;
}

body {
  background-color: $background-secondary;
  color: $font-color;
  font-family: "Jonathan Ball", sans-serif;
}
