@use './components/home';
@use './components/header';
@use './components/sidebar';

$bgcolor: #ffffff;

@font-face {
  font-family: "Jonathan Ball";
  src: url("../../assets/fonts/jonathan-ball-acre-medium.otf")
  format("opentype");
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s linear;
}

body {
  background-color: $bgcolor;
  color: rgb(0, 0, 0);
  font-family: "Jonathan Ball", sans-serif;
}
